<h2>Login</h2>
<br>
<form action='/login' method='POST'>
    <label for='name'>Name:</label><input type='text' name='name' placeholder='Place Name Here'><br><br>
    <label for='password'>Password:</label><input type='password' name='password' placeholder='Place Password Here'><br><br>
    <input type='submit' value='' id="login">
</form>