<h1>Sign Up</h1>
<form action="/signup" method="POST">
  <p><input type="text" name="name" placeholder="Name:"></p>
  <p><input type="password" name="password" placeholder="Password:"></p>
  <p><input type="submit" value="" id="signup"></p>
</form>