<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>SinatraProject</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      
      <table id="header">
        <tr>
          <td><a href='/'><img src="https://i.ibb.co/N7jGTVb/home.png" alt="Home" class="rounded-corners"/></a></td>
          <% if !logged_in? %>
            <td><a href='/login'><img src="https://i.ibb.co/T4F4N2x/login.png" alt="login" class="rounded-corners"></a></td>
            <td><a href='/signup'><img src="https://i.ibb.co/5sXD7NB/signup.png" alt="signup" class="rounded-corners"></a></td>
            </tr>
            </table>
          <% else %>
            <td><a href='/pokemon'><img src="https://i.ibb.co/5s0YxW5/allpokes.png" alt="allpokes" class="rounded-corners"></a></td>
            <td><a href='/assistants'><img src="https://i.ibb.co/TbVdpC7/allassists.png" alt="allassists" class="rounded-corners"></a></td>
            <td><a href='/entries'><img src="https://i.ibb.co/6BfMncK/Comic2.png" alt="Comic2" class="rounded-corners"></a></td>
            <td><a href='/entries/new'><img src="https://i.ibb.co/Y7f3SWM/newentry.png" alt="newentry" class="rounded-corners"></a></td>
            <td><a href='/assistants/<%= current_user.slug %>'><img src="https://i.ibb.co/c6nxjxq/myaccount.png" alt="myaccount" class="rounded-corners"></a></td>
            <td><a href='/logout'><img src="https://i.ibb.co/Lh3fMtP/logout.png" alt="logout" class="rounded-corners"></a></td>
            </tr>
            </table>
          <% end %>

      <% if flash[:message] %>
        <br><br>
        <font color="red"><%= flash[:message]%></font>
        <br><br>
      <% end %>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2019 <strong>Pokémon Database</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
